h2 {
  text-align: center;
  margin-top: 10vh;
  font-size: 2rem;
  color: #2aa676;
}

.table_patient {
  margin-top: 30vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.table_patient th {
  background-color: #2aa676;
  color: white;
  padding: 10px;
  text-align: center;
}

.listePatients{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  width: 90vw;
  margin: 0 auto;
}

.listePatients .listePatients_item{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #2aa676;
  border-radius: 5px;
  background-color: #2aa676;
  color: white;
}

.listePatients .listePatients_item a{
  color: white;
  text-decoration: none;
  background-color: #1d7050;
  padding: 5px;
  border-radius: 5px;
}

.listePatients .listePatients_item a:hover{
  background-color: white;
  color: #1d7050;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  font-family: Arial, sans-serif; 
}
.form button {
  background-color: #2aa676;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 480px) {
  div {
    margin: 5px;
    padding: 5px;
  }}

